<div class="row column">
  <%= form.select :code, [], {}, placeholder: t("author", scope: "decidim.notify.conversations"), class: "user-select" %>
</div>
<div class="row column">
  <%= form.text_area :body, placeholder: t("statement", scope: "decidim.notify.conversations"), rows: 3 %>
</div>
