<div class="row column">
  <%= form.text_field :code, autofocus: true, placeholder: t("author", scope: "decidim.notify.conversations") %>
</div>
<div class="row column">
  <%= form.text_area :body, placeholder: t("statement", scope: "decidim.notify.conversations"), rows: 3 %>
</div>
