<div class="card">
  <div class="card-section">
    <div class="row column  hashtags__container">
      <%= form.text_area :body, autofocus: true, placeholder: "Write your statement", rows: 3 %>
    </div>
  </div>
</div>
