<div class="form__wrapper">
  <div class="row column">
    <%= form.select :chapter, options_from_collection_for_select(chapters, :title, :title, active_chapter&.title), { include_blank: true }, placeholder: t("placeholders.chapter", scope: "decidim.notify.conversations"), class: "chapter-select" %>
  </div>
  <div class="row column">
    <%= form.text_field :code, value: current_user.name, class: "user-select", data: { url: users_path }, readonly: true %>
  </div>
  <div class="row column">
    <%= form.text_area :body, placeholder: t("placeholders.statement", scope: "decidim.notify.conversations"), rows: 3 %>
  </div>
</div>
