<div class="notify-participant" title="<%= name %>">
  <div class="hexagon" style="background-image: url(<%= avatar_url %>)">
    <div class="hex1"></div>
    <div class="hex2"></div>
    <% if code %>
      <div class="code"><%= code %></div>
    <% end %>
  </div>
</div>
