<div class="form__wrapper">
  <div class="card pt-4">
    <div class="card-section">

      <div class="row column field">
        <%= form.text_field :title %>
      </div>

      <div class="row column">
        <%= form.check_box :active %>
      </div>

    </div>
  </div>
</div>
