<%= decidim_form_for(@form, url: chapter_path, html: { class: "form edit_chapter" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
      <%= f.submit t(".update") %>
  </div>
<% end %>
