@import "select2";
@import "select2-foundation-theme";
@import "hexagon";

// we need to hide the original select otherwise focus is lost
.select2-hidden-accessible {
  display: none;
}
.select2-container--foundation {
  .select2-dropdown {
    border-radius: 4px;
  }
  .select2-search--dropdown .select2-search__field {
    border-radius: 4px;
    &:focus {
      border-color:#333;
    }
  }
 .select2-selection {
    border-radius: 4px;
  }
 .select2-results__option--highlighted[aria-selected] {
    background-color: rgba(var(--secondary-rgb), 0.5);
  }
  .select2-result-repository {
    display: flex;
    &__avatar {
      @include responsive_hexagon();
    }
    &__meta {
      flex: 1;
      align-self: center;
      margin-left: 1rem;
      color: black;
      font-weight: bold;
      word-wrap: break-word;
      line-height: 1.1;
      margin-bottom: 4px;
    }
  }
}
.notify-container {
  .hexagon {
    @include responsive_hexagon();
  }
  .notify-participant {
    display: inline-block;
    margin: 0.5rem;
  }

  .card--notes-editor {
    background: #eee;
    border: #cacaca solid 1px;
    textarea {
      border: 1px solid #cacaca;
      border-radius: 4px;
    }
  }
  input, textarea {
    &::placeholder {
      color: #333;
    }
  }
  .form-conversations-submit {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    .info {
      margin-left: 1rem;
      display: none;
    }
  }

  .media-object {
    display: flex;

    h4, p, em{
      font-size: 1rem;
      line-height: 1.1rem;
      margin-bottom: 0.5rem;
      display: block;
    }
    em {
      font-size: 0.8rem;
      color: #999;
    }
    h4 {
      font-weight: 600;
      b {
        font-weight: 700;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .media-object-section {
    .thumbnail {
      width: 70px;
    }
    &.main-section {
      flex: 1;
      p {
        white-space: pre-line;
      }
    }

  }

  .notify-note {
    button {
      &.tiny {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      &.delete {
        svg {
          fill: var(--alert);
        }
      }
      &.edit {
        svg {
          fill: var(--secondary);
        }
      }
    }
  }
}