.notify-container {
  input, textarea {
    &::placeholder {
      color: #333;
    }
  }
  .form-conversations-submit {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;

    .info {
      margin-left: 1rem;
      display: none;
    }
  }

  .media-object {
    h4, p, em{
      font-size: 1rem;
      line-height: 1.1rem;
      margin-bottom: 0.5rem;
      display: block;
    }
    em {
      font-size: 0.8rem;
      color: #999;
    }
    h4 {
      font-weight: 600;
      b {
        font-weight: 700;
      }
    }
    img {
      max-width: 100%;
    }
  }
  .media-object-section {
    .thumbnail {
      width: 70px;
    }
  }
}